<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.GoogleLogin" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="11" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Google Auth Sample"></application>
</manifest>